.main {
  display: grid;
  min-height: 80vh;
  background-color: white;
  width: 100%;
  border-radius: 5px;
  box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2), 0 6px 20px 0 rgba(0, 0, 0, 0.19);
}

.main p {
  margin: 10px;
}
#backstory {
  background-color: rgb(193, 212, 149);
  border-radius: 1em;
  padding: 5px;
}

.imp-txt {
  background-color: rgb(193, 212, 149);
  border-radius: 1em;
  padding: 5px;
}

.section1 {
  padding-left: 10px;
}

.section1 h1 {
  text-align: center;
  font-size: 30px;
  color: rgb(20, 20, 13);
}

.section1 h3 {
  padding-bottom: 1rem;
  border-radius: 0.7em;
  padding: 5px;
  background-color: bisque;
  margin: 10px;
  color: #000000d0;
}

/* buttn start servey at welcome page */
.main #span {
  display: block;
  text-align: center;
  margin: 15px auto;
}
#start-test {
  background-color: #5c80bc;
  color: whitesmoke;
  word-spacing: 3px;
}

/* Darker container */
.section2 {
  border-left: 2px solid #dedede;
  border-color: #ccc;
  background-color: rgb(248, 248, 248);
  grid-column: 3 / span 1;
  padding: 10px;
}

.section2 h1 {
  height: 2em;
  text-align: center;
}

.section2 h2 {
  margin-bottom: 10px;
  font-size: large;
}

/* media queries */

@media only screen and (min-width: 569px) and (max-width: 950px) {
  .main {
    display: grid;
    grid-template-columns: 1fr 1fr;
    grid-template-rows: auto;
    grid-template-areas:
      "section1 section1"
      "section2 section2";
  }

  .section1 > h1 {
    grid-area: heading;
  }
  .section1 > .imp-txt {
    grid-area: red;
  }
  .section1 > #backstory {
    grid-area: green;
  }
  .section1 > h3 {
    grid-area: attention;
  }

  .section1 {
    grid-area: section1;
    display: grid;
    grid-template-columns: 1fr 1fr;
    grid-template-rows: auto;
    grid-template-areas:
      "heading heading"
      "green red"
      "attention attention";
  }
  .section2 {
    grid-area: section2;
  }
}
@media only screen and (min-width: 320px) and (max-width: 568px) {
  .main {
    display: flex;
    flex-direction: column;
  }
}
